body{
    margin: 0;
    padding: 0;
}
.top-banner{
display: flex;
}
.middel{
width: 50%;
padding-left: 2px;
}
.middel h1{
font-size: 40px;
font-family:'Marck Script', cursive;
margin: 10px;
}
.middel h3{
font-size: 20px;
margin-top: 60px;
}
.middel span{
  color:#22c3df;
}
.middel p{
font-family: 'Josefin Sans', sans-serif;
margin-bottom: 30px;
}
.middel a{
    text-decoration:none;
    font-size: 20px;
    background-color:#fa725c;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.top-banner img{
width: 100%;
}
/* top banner end */
/* top banner start */
.secnd-banner{
display: flex;
}
/* top banner end */
/* experiences start */
.experiences{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.box{
    box-shadow: 10px 10px 40px #836631;
    padding: 10px;
    width: 40%;
    margin: 20px;
    transition: .3s all ease-in;
    border-radius: 10px;
    border-left:7px solid blue;
}
.box:hover{
    box-shadow: 0px 10px 40px #7676cc
}
.border:hover{
    box-shadow: 0px 10px 40px #8eb357
}
.border{
    border-left: 7px solid greenyellow;
    border-radius: 5px;
}
.part{
    margin-left: 20px;
    font-size: 40px;
}
.box h1{

}
.box h3{
  
    
}
.box p{

}
/* experiences end */